@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  textarea:focus,
  input:focus {
    outline: none;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-gray-200;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-700;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-black;
  }
}
