.colors {
  '#b96eff'
  '#ecc91b'
  '#FF628C'
  '#f09e1a'
  '#9eebeb'
  '#EC3A37F5'
  '#dbe5f1'
  '#f1e383'
  '#a1eb90'
  '#60df33'
  '#8df7be'
  '#fab862'
  '#94e981'
  '#f294f5'
  '#f1f1f1'
  '#5a56a0'
  '#99e931'
  '#F16E6B'
  '#aaa0e5'
  '#FAEFA5'
}

.replace {
  color: #26264a;
  color: #202040;
  color: #201f41;
  color: #f2f2f2;
  color: #9c91dd;
  color: #edc500;
  color: #1c1c3b;
  color: #633ff262;
  color: #37ce00;
  color: #e03734f5;
  color: #232347;
  color: #aa5df2;
  color: #f2f2f200;
  color: #2a2850;
  color: #aa5df288;
  color: #6f79aec0;
  color: #7742d346;
  color: #7742d3aa;
  color: #f2f2f20d;
  color: #f26d00ab;
  color: #f2f20236;
  color: #f26d0056;
  color: #1d1d3d;
  color: #9c91dd0f;
  color: #9c91dd42;
  color: #9c91dd1c;
  color: #a46aef46;
  color: #f2bc0055;
  color: #e2373f55;
  color: #37ce0055;
  color: #32a462;
  color: #00f2000e;
  color: #00f2009a;
  color: #f2000c1a;
  color: #f2000c81;
  color: #202040d0;
  color: #9c91dd66;
  color: #141430;
  color: #384e5f33;
  color: #f2f2f21a;
  color: #5834e4;
  color: #f29500;
  color: #c3bbf2;
  color: #a1a1a1;
  color: #9c91dd81;
  color: #37ce0093;
  color: #f26d0086;
  color: #633ff2;
  color: #17324500;
  color: #171732;
  color: #9c91dd81;
  color: #491fef;
  color: #000000;
  color: #f2296a;
  color: #79eff2;
  color: #57575c;
  color: #ee8cf2;
  color: #f26c00;
  color: #24244c;
  color: #00000026;
  color: #d9d8ee;
  color: #00000000;
}
